In [1]:
name = "Dmitry"
print(f"Привет, {name}")

Привет, Dmitry

In [2]:
name = input("Как Вас зовут?")
print ("Привет,", name)

Привет, Diman

In [3]:
string = input()
print(string * 3)

dddddd

In [4]:
cash = float(input())
print(cash - 2.5 * 38)

ValueError: could not convert string to float: 'dd'

In [12]:
name = input()
price = int(input())
weight = int(input())
money = int(input())
print("Чек")
print(name, " - ", weight,  "кг - ", price, "руб/кг", sep="")
print(f"Итого: {price * weight}руб")
print(f"Внесено: {money}руб")
print(f"Cдача: {money -price * weight}руб")

Чек
черешня - 5кг - 2руб/кг
Итого: 10руб
Внесено: 50руб
Cдача: 40руб

In [13]:
N = int(input())
print ("Купи слона" * N)

Купи слонаКупи слонаКупи слона

In [23]:
N = int(input())
for i in range(N):
    print("Купи слона!")

Купи слона!
Купи слона!

In [31]:
N = int(input())
execution = input()
for i in range(N):
    print(f'Я больше никогда не буду писать "{execution}"')

Я больше никогда не буду писать "dfsafd"
Я больше никогда не буду писать "dfsafd"

In [35]:
N, M = int(input()), int(input())
print(int((N/2) * M))

50

In [71]:
name, number = input(), int(input())
print(f"Группа №{number//100}.\n{number % 100 % 10}. {name}.\nШкафчик: {number}.\nКроватка: {number % 100 // 10}.")

Группа №8.
2. Danya.
Шкафчик: 832.
Кроватка: 3.

In [70]:
832 % 100 // 10

3

In [4]:
number = input()
print(int(number[1] + number[0] + number[3] + number[2]))

2143

In [7]:
y = "34"

In [28]:
number_1, number_2 = int(input()), int(input())
print(str((number_1 // 100 + number_2 // 100) % 10) + str((number_1 // 10 %
      10 + number_2 // 10 % 10) % 10) + str((number_1 % 10 + number_2 % 10) % 10))

234

In [25]:
123 // 10 % 10

2

In [21]:
18 % 10

8

In [30]:
children, candies = int(input()), int(input())
print(candies // children, candies % children, sep="\n")

25
0

In [31]:
red, green, blue = int(input()), int(input()), int(input())
print(red + blue + 1)

5

In [47]:
hour, current_minute, minute_for_delivery = int(
    input()), int(input()), int(input())
print(f"{((hour + ((minute_for_delivery + current_minute) // 60)) % 24):0>2}:\
      {((minute_for_delivery + current_minute) % 60):0>2}")

08:07

In [42]:
(((1440 // 60)) + 2) % 24

2

In [50]:
warehouse, shop, speed = int(input()), int(input()), int(input())
print(f"{(shop - warehouse) / speed:.2f}")

3.30

In [69]:
str = "10110111"
sum = 0
for i in range(1, len(str) + 1):
    sum += int(str[-i]) * (2 ** (i - 1))

In [71]:
sum + 783

966

In [73]:
all, last = int(input()), input()
sum = 0
for i in range(1, len(last) + 1):
    sum += int(last[-i]) * (2 ** (i - 1))
print(all + sum)

966

In [76]:
all, last = int(input()), input()
print(all + int(last, 2))

136

In [77]:
price, nominal = int(input(), 2), int(input())
print(nominal - price)
goods = Черемша
print(f"Товар:")

27

In [14]:
name, price, weight, money = input(), int(input()), int(input()), int(input())
print("================Чек================")
print("Товар:", " " * (29 - len(name)), name, sep="")
print("Цена:", " " * (19 - len(str(weight)) - len(str(price))),
      weight, "кг * ", price, "руб/кг", sep="")
print("Итого:", " " * (26 - len(str(price * weight))),
      price * weight, "руб", sep="")
print("Внесено:", " " * (24 - len(str(money))), money, "руб", sep="")
print("Сдача:", " " * (26 - len(str(money - price * weight))),
      money - price * weight, "руб", sep="")
print("="*35)

================Чек================
Товар:                         dasd
Цена:               30кг * 20руб/кг
Итого:                       600руб
Внесено:                     450руб
Сдача:                      -150руб
===================================

In [1]:
len("gfdgfd")

6

In [131]:
name, price, weight, money = input(), int(input()), int(input()), int(input())
print("================Чек================")
leng = 29-len(name)
print(f"Товар:{name: 0>35}")

ValueError: invalid literal for int() with base 10: 'dasd'

In [118]:
print(f"{name:0>leng}")

ValueError: Invalid format specifier '0>leng' for object of type 'str'

In [101]:
table = {'Sjoerd': 4127, 'Jack': 4098, 'Dcab': 7678}
for name, phone in table.items():
    print(f'{name: >9} ==> {phone:10}')

   Sjoerd ==>       4127
     Jack ==>       4098
     Dcab ==>       7678