In [ ]:
name = "Dmitry"
print(f"Привет, {name}")

:

In [2]:
name = input("Как Вас зовут?")
print ("Привет,", name)

Привет, Вася

In [4]:
string = input()
print(string * 3)

ddd

In [6]:
cash = float(input())
print(cash - 2.5 * 38)

105.0